* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: bold 35px helvetica;
}

body {
  overflow: hidden;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.5s;
}

h1.question {
  width: 100%;
  transform: translate(-50%, -50%) rotateX(0);
  text-align: center;
  z-index: 10;
}

h1.answer {
  transform: rotateX(90deg);
  text-align: center;
  margin-right: 100px;
}

input {
  position: relative;
  top: 100px;
  left: 100px;
  width: 20px;
  height: 20px;
  z-index: 10;
}

label {
  position: relative;
  top: 100px;
  left: 100px;
  z-index: 10;
}

.background {
  background: linear-gradient(#fff, #f6f406 10%, #0c0af3 80%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.5s ease-in;
  transform-origin: bottom;
}

.dinosaurs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dinosaur {
  background-image: url("dinosaur.png");
  width: 600px;
  height: 300px;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
}

#checkbox1:checked ~ .background {
  transform: scaleY(0);
}

#checkbox1:checked ~ .question {
  transform: translate(-50%, -50%) rotateX(90deg);
}

#checkbox1:checked ~ .answer {
  transform: rotateX(0);
}

section:nth-child(1) {
  transform: translate3d(150px, -100px, 0);
}
section:nth-child(2) {
  transform: translate3d(0, 100px, 0);
}
